# Base de datos
DB_HOST=localhost
DB_NAME=gest_alumnos
DB_USER=root
DB_PASS=

# Correo / SMTP
MAIL_FROM_EMAIL=usuario@dominio.org
MAIL_FROM_NAME=Nombre Apellido
MAIL_REPLY_TO=usuario@dominio.org
MAIL_TRANSPORT=smtp

SMTP_HOST=smtp.dominio.org
SMTP_PORT=465
SMTP_USER=usuario
SMTP_PASS=contraseña_aqui
SMTP_SECURE=ssl
